.list {
  display: flex;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .listContainer {
    flex: 6;
    padding: 20px;
    
    @media (max-width: 768px) {
      padding: 10px;
    }
  }
}